html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, select, textarea, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialized;
  background: #F4F7F9;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
}

.btn {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  background: #316aff;
  color: #fff;
  padding: 0 20px;
  letter-spacing: 1px;
  border-radius: 4px;
  font-weight: 500;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn.btn-green {
  background: #36855b;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

.header {
  background: #141618;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .logo {
  margin-right: 40px;
}

.header .container .menu ul li a {
  color: rgba(255, 255, 255, 0.6);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .menu ul li a:hover {
  color: #fff;
}

.header .container .menu ul li a i {
  margin-right: 10px;
}

.header .container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  margin-left: auto;
}

@media screen and (max-width: 992px) {
  .header .container .search {
    display: none;
  }
}

.header .container .search input {
  height: 34px;
  width: 250px;
  background: #21252d;
  padding: 0 10px;
  color: #fff;
}

.header .container .search input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 200ms opacity;
  transition: 200ms opacity;
}

.header .container .search input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 200ms opacity;
  transition: 200ms opacity;
}

.header .container .search input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 200ms opacity;
  transition: 200ms opacity;
}

.header .container .search input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 200ms opacity;
  transition: 200ms opacity;
}

.header .container .search input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.header .container .search input:focus:-ms-input-placeholder {
  opacity: 0;
}

.header .container .search input:focus::-ms-input-placeholder {
  opacity: 0;
}

.header .container .search input:focus::placeholder {
  opacity: 0;
}

.header .container .search button {
  background: #21252d;
  width: 32px;
  height: 34px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.header .container .search button:hover {
  background: #316aff;
}

@media screen and (max-width: 992px) {
  .header .container .login-buttons {
    display: none;
  }
}

.header .container .login-buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .login-buttons ul li {
  margin-left: 15px;
}

.header .container .login-buttons ul li.join-now-btn {
  background: #36855b;
  border-radius: 4px;
  padding: 0 15px;
}

.header .container .login-buttons ul li a {
  display: block;
  height: 34px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.8);
}

.header .container .login-buttons ul li a:hover {
  color: #fff;
}

.header .container .mobile-header {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 60px;
  background: #141618;
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  width: 100%;
  z-index: 9999;
}

.header .container .mobile-header.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .header .container .mobile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .container .mobile-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header .container .mobile-header .container .mobile-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 1rem;
  width: 100%;
}

.header .container .mobile-header .container .mobile-search input {
  height: 34px;
  width: 100%;
  max-width: 100%;
  background: #21252d;
  padding: 0 10px;
  color: #fff;
}

.header .container .mobile-header .container .mobile-search input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 200ms opacity;
  transition: 200ms opacity;
}

.header .container .mobile-header .container .mobile-search input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 200ms opacity;
  transition: 200ms opacity;
}

.header .container .mobile-header .container .mobile-search input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 200ms opacity;
  transition: 200ms opacity;
}

.header .container .mobile-header .container .mobile-search input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 200ms opacity;
  transition: 200ms opacity;
}

.header .container .mobile-header .container .mobile-search input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.header .container .mobile-header .container .mobile-search input:focus:-ms-input-placeholder {
  opacity: 0;
}

.header .container .mobile-header .container .mobile-search input:focus::-ms-input-placeholder {
  opacity: 0;
}

.header .container .mobile-header .container .mobile-search input:focus::placeholder {
  opacity: 0;
}

.header .container .mobile-header .container .mobile-search button {
  background: #316aff;
  width: 32px;
  height: 34px;
  color: #fff;
  font-size: 16px;
}

.header .container .mobile-header .container .mobile-login-buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .mobile-header .container .mobile-login-buttons ul li {
  margin-top: 0.5rem;
}

.header .container .mobile-header .container .mobile-login-buttons ul li.join-now-btn {
  background: #36855b;
  border-radius: 4px;
  padding: 0 15px;
}

.header .container .mobile-header .container .mobile-login-buttons ul li a {
  display: block;
  height: 34px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.8);
}

.header .container .mobile-header .container .mobile-login-buttons ul li a:hover {
  color: #fff;
}

.header .container .burger-menu {
  display: none;
  margin-left: auto;
}

@media screen and (max-width: 992px) {
  .header .container .burger-menu {
    display: block;
  }
}

.header .container .burger-menu i {
  color: #fff;
  font-size: 20px;
}

.banner {
  background: linear-gradient(170deg, #212a39, #181e28);
}

.banner .container {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .banner .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 50px 5%;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.banner .container .banner-box {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .banner .container .banner-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.banner .container .banner-box img {
  padding: 30px;
  max-width: 100%;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

@media screen and (max-width: 992px) {
  .banner .container .banner-box img {
    padding: 0;
    max-width: 240px;
  }
}

.banner .container .banner-box img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.banner .container .banner-box.banner-image {
  padding-left: 100px;
}

@media screen and (max-width: 992px) {
  .banner .container .banner-box.banner-image {
    padding-left: 0;
  }
}

.banner .container .banner-box h1 {
  font-size: 48px;
  line-height: 48px;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .banner .container .banner-box h1 {
    font-size: 26px;
    line-height: 34px;
    margin-top: 40px;
  }
}

.banner .container .banner-box h2 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 33px;
  color: #B0B6BE;
}

@media screen and (max-width: 992px) {
  .banner .container .banner-box h2 {
    font-size: 20px;
    line-height: 24px;
  }
}

.banner .container .banner-box .btn {
  margin-top: 65px;
  -webkit-transition: 150ms all;
  transition: 150ms all;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0 96px;
}

@media screen and (max-width: 992px) {
  .section1 {
    padding: 60px 0;
  }
}

.section1 .lang {
  width: 392px;
  min-width: 392px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 992px) {
  .section1 .lang {
    display: none;
  }
}

.section1 .lang a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 184px;
  height: 184px;
  background: #fff;
  margin-bottom: 24px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

.section1 .lang a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.section1 .lang a img {
  margin-bottom: 20px;
  height: 40px;
}

.section1 .lang a .title {
  color: #111;
  font-size: 18px;
}

.section1 .inner {
  padding-left: 160px;
}

@media screen and (max-width: 992px) {
  .section1 .inner {
    padding-left: 0;
  }
}

.section1 .inner h3 {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .section1 .inner h3 {
    font-size: 28px;
    line-height: 40px;
  }
}

.section1 .inner p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 28px;
}

.section2 {
  background: #fff;
  padding: 64px 96px;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin-bottom: 100px;
}

@media screen and (max-width: 992px) {
  .section2 {
    padding: 30px 10px;
    margin-bottom: 60px;
  }
}

.section2 .icon {
  background: #f4f5f9;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px;
}

.section2 .icon i {
  color: #d7dbe8;
  font-size: 22px;
}

.section2 p {
  font: 22px/36px georgia,times,serif;
  text-align: center;
  color: #141618;
  max-width: 60%;
  margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
  .section2 p {
    font: 18px/26px georgia,times,serif;
    max-width: 90%;
  }
}

.section2 .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}

.section2 .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
}

@media screen and (max-width: 992px) {
  .section3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.section3 div {
  width: 50%;
  min-width: 50%;
}

@media screen and (max-width: 992px) {
  .section3 div {
    width: 100%;
    min-width: unset;
  }
}

.section3 .text h3 {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .section3 .text h3 {
    font-size: 28px;
    line-height: 40px;
  }
}

.section3 .text p {
  font-size: 18px;
  line-height: 28px;
  color: #111;
}

.section3 .text .btn {
  margin-top: 50px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.section3 .image {
  padding: 100px 0 0 30px;
}

@media screen and (max-width: 992px) {
  .section3 .image {
    padding: 80px 0 0 0;
  }
}

.section3 .image img {
  width: 100%;
  display: block;
}

.footer {
  background: #141618;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 992px) {
  .footer .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer .logo {
  margin-bottom: 40px;
}

.footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .footer .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer .footer-nav .footer-sub-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 992px) {
  .footer .footer-nav .footer-sub-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer .footer-nav .footer-sub-nav nav {
  margin-right: 32px;
}

.footer .footer-nav .footer-sub-nav h6 {
  letter-spacing: 1.4px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 16px;
}

.footer .footer-nav .footer-sub-nav ul li {
  margin-bottom: 6px;
}

.footer .footer-nav .footer-sub-nav ul li a {
  display: block;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

.footer .footer-nav .footer-sub-nav ul li a:hover {
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer .footer-nav .footer-sub-nav ul li:last-child a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-nav .footer-sub-nav ul li:last-child a i {
  font-size: 12px;
  margin-right: 5px;
}

.footer .footer-nav .search {
  margin-left: auto;
}

@media screen and (max-width: 992px) {
  .footer .footer-nav .search {
    margin-left: unset;
    margin-bottom: 40px;
  }
}

.footer .footer-nav .search h6 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 16px;
}

.footer .footer-nav .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}

.footer .footer-nav .search form input {
  height: 48px;
  width: 375px;
  background: #21252d;
  padding: 0 15px;
  color: #fff;
}

@media screen and (max-width: 992px) {
  .footer .footer-nav .search form input {
    width: 100%;
  }
}

.footer .footer-nav .search button {
  width: 48px;
  height: 48px;
  background: #316aff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.footer .copyright {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .copyright a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 20px;
}

.footer .copyright span {
  color: rgba(255, 255, 255, 0.5);
}
/*# sourceMappingURL=main.css.map */