html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, select, textarea, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialized;
  background: #F4F7F9;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  border: 0;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
}

.btn {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  background: #316aff;
  color: #fff;
  padding: 0 20px;
  letter-spacing: 1px;
  border-radius: 4px;
  font-weight: 500;
}

.btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn.btn-green {
  background: #36855b;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.header {
  background: #141618;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .logo {
  margin-right: 40px;
}

.header .container .menu ul li a {
  color: rgba(255, 255, 255, 0.6);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .menu ul li a:hover {
  color: #fff;
}

.header .container .menu ul li a i {
  margin-right: 10px;
}

.header .container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  margin-left: auto;
}

.header .container .search input {
  height: 34px;
  width: 250px;
  background: #21252d;
  padding: 0 10px;
  color: #fff;
}

.header .container .search input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.header .container .search input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.header .container .search input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.header .container .search input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.header .container .search button {
  background: #21252d;
  width: 32px;
  height: 34px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.header .container .search button:hover {
  background: #316aff;
}

.header .container .login-buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .container .login-buttons ul li {
  margin-left: 15px;
}

.header .container .login-buttons ul li.join-now-btn {
  background: #36855b;
  border-radius: 4px;
  padding: 0 15px;
}

.header .container .login-buttons ul li a {
  display: block;
  height: 34px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.8);
}

.header .container .login-buttons ul li a:hover {
  color: #fff;
}

.banner {
  background: linear-gradient(170deg, #212a39, #181e28);
}

.banner .container {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.banner .container .banner-box {
  width: 50%;
}

.banner .container .banner-box img {
  padding: 30px;
  max-width: 100%;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.banner .container .banner-box img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.banner .container .banner-box.banner-image {
  padding-left: 100px;
}

.banner .container .banner-box h1 {
  font-size: 48px;
  line-height: 48px;
  color: #fff;
}

.banner .container .banner-box h2 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 33px;
  color: #B0B6BE;
}

.banner .container .banner-box .btn {
  margin-top: 65px;
  -webkit-transition: 150ms all;
  transition: 150ms all;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0 96px;
}

.section1 .lang {
  width: 392px;
  min-width: 392px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section1 .lang a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 184px;
  height: 184px;
  background: #fff;
  margin-bottom: 24px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  -webkit-transition: 200ms all;
  transition: 200ms all;
}

.section1 .lang a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.section1 .lang a img {
  margin-bottom: 20px;
  height: 40px;
}

.section1 .lang a .title {
  color: #111;
  font-size: 18px;
}

.section1 .inner {
  padding-left: 160px;
}

.section1 .inner h3 {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 30px;
}

.section1 .inner p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 28px;
}

.section2 {
  background: #fff;
  padding: 64px 96px;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  margin-bottom: 100px;
}

.section2 .icon {
  background: #f4f5f9;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 32px;
}

.section2 .icon i {
  color: #d7dbe8;
  font-size: 22px;
}

.section2 p {
  font: 22px/36px georgia,times,serif;
  text-align: center;
  color: #141618;
  max-width: 60%;
  margin-bottom: 15px;
}

.section2 .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}

.section2 .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
}

.section3 div {
  width: 50%;
  min-width: 50%;
}

.section3 .text h3 {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 30px;
}

.section3 .text p {
  font-size: 18px;
  line-height: 28px;
  color: #111;
}

.section3 .text .btn {
  margin-top: 50px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.section3 .image {
  padding: 100px 0 0 30px;
}

.section3 .image img {
  width: 100%;
  display: block;
}
/*# sourceMappingURL=main.css.map */